.navLi {
    display: inline;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom-width: 3px;
    border-bottom-color: #4caf50;
    border-bottom-style: solid;
    transition: .4s ease-out;
    transition-property: background-color , color;
}
.navLi:hover {
    color: #fff;
    background-color: #4caf50
}
.navLi:active {
    background-color: #008080;
    transition: none;
    border-bottom-color: #0C9696
}
.navLi:focus {
    background-color: #008080;
    color: #fff;
    border-bottom-width: 2px;
    border-bottom-color: #0C9696;
    border-bottom-style: solid
}
.navUl {
    list-style-type: none;
    margin: 0px;
    padding: 10px
}
.navbar {
    animation-name: fromTop;
    animation-duration: .3s;
    -webkit-animation-name: fromTop;
    -webkit-animation-duration: .3s;
    display: none;
    position: relative
}
nav {
    font-family: sans-serif,verdana;
    font-size: 30px;
    display: block;
    text-align: center;
    background-color: #8ac007;
    margin-top: 20px;
    color: #EAE8E8;
    cursor: default;
    width: 100%
}
body {
    margin: 0;
    background-color: #EAE8E8
}
.bod {
    border: 3px solid #000;
    border-top: 0px;
    margin-top: 4px;
    position: relative;
    animation-name: frombottom;
    animation-duration: 1s;
    -webkit-animation-name: frombottom;
    -webkit-animation-duration: 1s;
    width: auto;
    height: auto;
    background-color: #fff;
    display: none;
}
.close {
    font-family: sans-serif , verdana;
    font-size: 30px;
    float: right;
    position: relative;
    cursor: pointer;
    transition: .3s ease-out
}
.close:hover {
    color: #383830;
    transition: .3s ease-out
}
.bodHead {
    width: auto;
    height: auto;
    padding: 20px;
    font-family: sans-serif,verdana;
    font-size: 40px;
    color: #fff !important;
}
.bodContent {
    padding: 16px;
    color: #000;
    font-family: sans-serif , verdana;
    font-size: 30px;  
    background-color: #fff
}
.backRed {
    background-color: #E84747 !important
}
.borderRed {
    border-color: #E84747 !important
}
.backTeal {
    background-color: #008080 !important
}
.borderTeal {
    border-color: #008080 !important
}
.backLteal {
    background-color: #06a9a9 !important
}
.borderLteal {
    border-color: #06a9a9 !important
}
.backTeal2 {
    background-color: #4a9c9c !important
}
.borderTeal2 {
    border-color: #4a9c9c !important
}
.backLime {
    background-color: #cddc39 !important
}
.borderLime {
    border-color: #cddc39 !important
}
.backCyan {
    background-color: #00bcd4 !important
}
.borderCyan {
    border-color: #00bcd4 !important
}
.backAmber {
    background-color: #ffc107 !important;
}
.borderAmber {
    border-color: #ffc107 !important
}
.backLamber {
    background-color: #FFD24B !important
}
.borderLamber {
    border-color: #FFD24B !important
}
.backBlue {
    background-color: #3a9bf4 !important
}
.borderBlue {
    border-color: #3a9bf4 !important
}
.backD {
    background-color: rgba(112, 133, 144, 0.58) !important;
    padding-top: 280px;
    padding-bottom: 30px
}
.fbBlue {
    color: #fff !important;
    background-color: #009999 !important;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif , verdana;
    font-size: 20px;
    outline: none;
    position: relative;
    transition: .4s cubic-bezier(0, 0, 0.64, 0.29);
    transition-property: box-shadow;
}
.fbBlue:hover {
    box-shadow: 2px 9px 18px rgba(0, 0, 0, 0.40) !important;
}
.darkTeal {
    background-color: #047575 !important;
    border-color: #047575 !important
}
.navigate {
    background-color: #ff9800;
    color: #fff;
    padding: 18px;
    font-family: sans-serif;
    font-size: 30px;
    border: 3px #fd7214 solid;
    outline: none;
    border-radius: 16px;
    transition: .4s ease-out;
}
.navigate:hover {
    cursor: pointer;
    box-shadow: 2px 9px 18px rgba(0, 0, 0, 0.45);
    border-radius: 0px;
}
.intro {
    text-align: center;
    animation-name: fromopa;
    animation-duration: 2s;
    -webkit-animation-name: fromopa;
    -webkit-animation-duration: 2s;
}
.welcome {
    font-family: sans-serif;
    font-size: 50px;
    color: #526169
}
.sub {
    font-size: 26px !important;
    
}
.none {display: none}
.inputs {
    border: 3px #000 solid;
    width: 250px;
    height: 100px;
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif , verdana;
    outline: none;
    cursor: pointer;
    transition: .3s ease-out;
}
.inputs:focus {
    cursor: text;
    width: 400px;
    border-color: #F7D836;
    color: #F7D836
}
.country {
    margin-left: 10px;
    padding: 18px;
    border-radius: 0px;
    border: 3px #000 solid;
    outline: none;
    background-color: #fff;
    width: 100px;
    height: 30px;
    font-family: sans-serif , verdana;
    font-size: 12px;
    cursor: pointer
}
.convert {
    margin-left: 700px;
    border: 3px #f5d900 solid;
    background-color: #f7e400;
    cursor: pointer;
    color: #f9f9f9;
    outline: none;
    padding: 16px;
    font-family: sans-serif , verdana;
    font-size: 30px;
    transition: .4s ease-out;
    transition-property: border-color , background-color , color , box-shadow , border-radius;
    border-radius: 16px;
    position: fixed;
}
.convert:hover {
    border-color: #ffc000;
    background-color: #f5d900;
    color: #fff;
    box-shadow: 2px 9px 18px rgba(0, 0, 0, 0.45);
    border-radius: 0px;
}
.wonders {
    font-size: 30px;
    border: none;
    font-family: sans-serif , verdana;
    padding: 20px;
    color: #f9f9f9;
    background-color: #ffcf40;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
    transition: .3s ease-out;
    transition-property: box-shadow , color;
    overflow: hidden
}
.wonders:hover {
    box-shadow: 2px 9px 18px rgba(0, 0, 0, 0.40);
    color: #fff
}
.alt {
    background-color: #fdc316 !important
}
.ripple {
    position:relative;
}
.ripple:after {
    content:"";
    background-color: #f3f3f3;
    display:block;
    position:absolute;
    padding-top:300%;
    padding-left:350%;
    margin-left:-20px!important;
    margin-top:-120%;
    opacity:0;
    transition:all 0.8s;
}
.ripple:active:after {
    padding:0;
    margin:0;
    opacity:1;
    transition:0s;
}
.outter {
    display: none;
    position: absolute;
    z-index: 11;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0,0,0,0.2)
}
.inner {
    font-size: 20px;
    font-family: calibri;
    position: relative;
    background-color: #fff;
    margin: auto;
    width: 70%;
    outline: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: frombottom;
    -webkit-animation-duration: 0.4s;
    animation-name: frombottom;
    animation-duration: 0.4s
}
.borderT {
    border: 3px #000 solid
}
.defi {
    color: #3a9bf4;
    cursor: pointer;
}
.defi:hover {
    text-decoration: underline;
}
.defi:active {
    color: #1e90ff
}
.defi:visited {
    color: #3a9bf4
}
.clear {
    margin-left: 890px;
}
.margL {
    margin-left: 100px
}
.ntBod {
    background-color: #fff;
    color: #000;
    padding: 18px;
    width: 500px;
    height: auto;
    text-align: center;
    cursor: default;
    font-family: sans-serif , verdana;
    font-size: 24px;
}
.navTips {
    animation-name: fromTop;
    animation-duration: .9s;
    -webkit-animation-name: fromTop;
    -webkit-animation-duration: .9s;
    position: relative;
    display: none
}
.tips {
    cursor: pointer;
    text-decoration: underline;
    transition: .2s ease-out;
    transition-property: color , text-decoration;
}
.tips:hover {
    color: #006699;
    text-decoration: underline
}
.slideP {
    border: 2px solid #006699;
    padding: 10px;
    width: 512px !important;
    text-align: left
}
.right {
    text-align: right
}
.note {
    font-size: 20px
}
.fibS {
    font-size: 20px;
    text-align: center
}
.img {
    align-self: center;
    width: auto;
    height: auto;
}
@keyframes fromTop{from{top: -300px;opacity: 0;}to{top: 0px;opacity: 1;}}
@-webkit-keyframes fromTop{from{top: -300px;opacity: 0;}to{top: 0px;opacity: 1;}}
@keyframes frombottom{from{bottom: -3000px;opacity: 0;}to{bottom: 0px;opacity: 1;}}
@-webkit-keyframes frombottom{from{bottom: -3000px;opacity: 0;}to{bottom: 0px;opacity: 1;}}
@keyframes fromopa{from{opacity: 0;}to{opacity: 1;}}
@-webkit-keyframes fromopa{from{opacity: 0;}to{opacity: 1;}}
@keyframes vanish{from{opacity: 1;}to{opacity: 0;}}
@-webkit-keyframes vanish{from{opacity: 1;}to{opacity: 0;}}
@keyframes vanishTop{from{padding-bottom: 30px;}to{padding-bottom: -300px;}}
@-webkit-keyframes vanishTop{from{padding-bottom: 30px;}to{padding-bottom: -300px;}}