body {
	font-family: 'Montserrat';
	background-color: #000
}
button {
	outline: none !important
}
input, button, textarea, form {
    outline: none;
    padding: 10px;
    font-size: 1.6rem;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
}
input, button, textarea {
	cursor: pointer
}
.container {
	font-family: 'Quicksand'
}
.intro {
	text-align: center;
	height: 100%;
	width: 100%;
	padding-top: 15.6%;
	padding-bottom: 14%;
	background-color: #000;
	background-position: center;
}
.introhead {
	font-size: 4rem;
	color: #fff;
	padding: 20px;
	animation: 2s zoom ease-out;
	-webkit-animation: 2s zoom ease-out;
}
.subs {
	font-family: 'Quicksand', Geneva, sans-serif, verdana;
	color: #616967;
	font-size: 1.5rem;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	padding: 18px;
	animation: 2s fromleft ease-out;
	-webkit-animation: 2s fromleft ease-out;
}
.underline {
	display: block;
	width: 20%;
	border: 1px solid #fff;
	margin: 0px !important;
	animation: 2s expand ease-out;
	-webkit-animation: 2s expand ease-out;
}