html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

body{
	position:relative;
	max-width:100%;
}

.loader-div{
	background-color:#222;
	height:100%;
	width:100%;
	position: fixed;
	z-index:999999999999999999;
}

.loader {
  position:absolute;
  left:47%;
  top:47%;
  width: 50px;
  height: 90px;
}

.loader div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  animation: loading 1.2s infinite ease-in-out;
  -webkit-animation: loading 1.2s infinite ease-in-out;
  -o-animation: loading 1.2s infinite ease-in-out;
  -moz-animation: loading 1.2s infinite ease-in-out;
}

.loader .rect2 {
  animation-delay: -1.1s;
  -webkit-animation-delay: -1.1s;
  -moz-animation-delay: -1.1s;
  -o-animation-delay: -1.1s;
}

.loader .rect3 {
  animation-delay: -1.0s;
  -webkit-animation-delay: -1.0s;
  -o-animation-delay: -1.0s;
  -moz-animation-delay: -1.0s;
}

.loader .rect4 {
  animation-delay: -0.9s;
  -webkit-animation-delay: -0.9s;
  -o-animation-delay: -0.9s;
  -moz-animation-delay: -0.9s;
}

.loader .rect5 {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
  -o-animation-delay: -0.8s;
  -moz-animation-delay: -0.8s;
}

@keyframes loading {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
    -moz-transform: scaleY(0.4);
    -o-transform: scaleY(0.4);
  }  
  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
    -o-transform: scaleY(1.0);
    -moz-transform: scaleY(1.0);
  }
}

@-webkit-keyframes loading {
  0%, 40%, 100% {
  	-webkit-transform: scaleY(0.4) 
  }  
  20% { 
  	-webkit-transform: scaleY(1.0) 
  }
}

@-o-keyframes loading {
  0%, 40%, 100% {
  	-o-transform: scaleY(0.4) 
  }  
  20% { 
  	-o-transform: scaleY(1.0) 
  }
}

@-moz-keyframes loading {
  0%, 40%, 100% {
  	-moz-transform: scaleY(0.4) 
  }  
  20% { 
  	-moz-transform: scaleY(1.0) 
  }
}

.navbar{
	background-color:#222;
	margin:0px;
	padding:0px;
}

#head{
	font-family: 'Roboto', sans-serif;
	font-size:20px; 
	letter-spacing:0.4px;
	color:#89c7f6;
	border-bottom:3px solid inherit;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}

#head:hover{
	color:#5bacc3;
	border-bottom:3px solid #5bacc3;
}

.navbar-inverse .navbar-toggle .icon-bar{
	color:#fff;
}

#collapse-btn{
	color:#89c7f6;
	background-color: transparent;
	border:2px solid #89c7f6;
	transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
}

#collapse-btn:hover{
	background-color: #89c7f6;
	color:#222;
}

.navbar-inverse .navbar-collapse .navbar-right li a{
	text-decoration:none;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	font-weight:500;
	border-bottom:3px solid transparent;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}

.navbar-inverse .navbar-collapse .navbar-right li a:hover{
	color:#89c7f6;
	border-bottom:3px solid #89c7f6;
}

.register-link{
	text-decoration:none;
	color:#222;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}

.register-link:hover{
	text-decoration: none;
	color:#3b80b5;
}


.register-font{
	text-decoration:none;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

#home{
	background-image:url("back-img.jpg");
	background-position:center;
	background-attachment:fixed;
	overflow:hidden;
	background-size:cover;
	margin:0px;
	padding:0px;
	height:100vh;
}

.heading1{
	font-family: 'Roboto', sans-serif;
	font-size:60px;
	color:#fff;
}

.down-arrow{
	text-decoration: none;
	color:#fff;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}

.down-arrow:hover{
	color: #4d9fde;
}

#gallery{
	background-color:#f7f7f7;
}

#abt-us{
	background-color:#fff;
}

.heading2{
	color:#222;
	font-family: 'Roboto', sans-serif;
}

.hr1{
	width:30%;
	height:3px;
	background-color:#222;
}

.font1{
	color:#222;
	font-family: 'Roboto', sans-serif;
	font-size:20px;

}

.sub-heading2{
	color:#222;
	font-family: 'Roboto', sans-serif;
}

.hr4{
	width:15%;
	height:3px;
	background-color:#222;
}

.legend-table{
	border:0px;
}

#events{
	background-color:#f7f7f7;
}

.modal-anchor{
	text-decoration: none;
	cursor:pointer;
}

.modal-anchor:hover{
	text-decoration: none;
}

.modal-top{
	background-color:#89c7f6;
}

.modal-heading{
	font-family: 'Roboto', sans-serif;
	font-size:22px;
	color:#fff;
	font-weight:500;
}

.modal-font{
	font-family: 'Roboto', sans-serif;
	font-size:17px;
}

#pyrotech{
	background-color:#fff;
}

.team{
	margin:25px;
}

.member-font{
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	color:#222;
}

#contact{
	background-image:url('contact-back.png');
	background-position:center;
	background-attachment:fixed;
	overflow:hidden;
	background-size:cover;
}

.heading3{
	color:#fff;
	font-family: 'Roboto', sans-serif;
}

.font2{
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:20px;

}

.hr2{
	width:15%;
	height:3px;
	background-color:#fff;
}

.hr3{
	width:7.5%;
	height:3px;
	background-color:#fff;
}

.sub-heading3{
	color:#fff;
	font-family: 'Roboto', sans-serif;
}

.con{
	margin:50px;
}

.contact-font{
	color:#fff;
	font-family: 'Roboto', sans-serif;
}

.email-icon{
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:50px;
}

.email-anchor{
	color:#fff;
	text-decoration:none;
}

.email-anchor:hover{
	color:#fff;
	text-decoration:none;
}

.footer-font{
	font-family: 'Roboto', sans-serif;
	font-size:15px;
	font-weight:700;
	color:#222;
}

.facebook{
	text-decoration:none;
	color:#222;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}

.facebook:hover{
	color:#3B5998;
}

#footer{
	background-color:#fff;
	padding-top:30px;
	padding-bottom:30px;
}