<style>
.circle{
  height: 200px;
  width: 200px;
}
.circle-outer-border{
  position: relative;
  border: 1px solid black;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  overflow: hidden;
}

.circle-fill{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #147fc3;
}

.animated .circle-fill {
  -webkit-animation: fillerup 5s infinite;
  animation: fillerup 5s infinite;
}
.static .circle-fill {
  top: 150px;
}

@-webkit-keyframes fillerup {
  0% {
    top: 200px;
  }
  100% {
    top: 0px;
  }
}
@keyframes fillerup {
  0% {
    top: 200px;
  }
  100% {
    top: 0;
  }
}
</style>
<div class="circle circle-outer-border animated">
  <div class="circle circle-fill"></div>
</div>
<br/>
<div class="circle circle-outer-border static">
  <div class="circle circle-fill"></div>
</div>