body {
    position: relative
}
h1, h2, h3 {
    font-family: 'Montserrat';
}
button {
    outline: none !important;
    cursor: pointer
}
input, label, button[type="submit"], a.btn {
    font-family: 'Quicksand'
}
b {
    font-size: 1.3rem;
    font-weight: 900
}
footer {
    height: 100%;
    width: 100%;
    padding: 4rem;
    border-top: 1px rgba(0,0,0,0.3) solid;
    background-color: rgba(0,0,0,0.1);
}
.full {
    padding: 1rem;
    position: relative;
    height: 100%;
    overflow: hidden
}
.loader {
    background-color: #333;
    padding: 0;
    overflow: hidden
}
.mainbod {
    animation: 2s fadein ease-out;
    -webkit-animation: 2s fadein ease-out;
    transition: .4s ease-out
}
.overlayer {
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 100%;
    position: absolute;
}
.uprise .overlayer {
    animation: 1s overlay ease-out;
    -webkit-animation: 1s overlay ease-out;
}
#intro {
    background-image: url(lib/bg.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .4s ease-out;
    filter: grayscale(100%)
}
#intro h1 {
    font-family: 'Cutive Mono';
}
div.full:not(#intro) > h1, .container > h1 {
    padding-top: 3rem
}
.navbar {
    background-color: rgba(0,0,0,0.3);
    animation: .5s fromtop ease-out;
    -webkit-animation: .5s fromtop ease-out;
    transition: .4s ease-out;
    font-family: 'Cutive Mono';
    border-bottom: 1px solid rgba(0,0,0,0.06)
}
.d-flex button {
    font-family: 'Cutive Mono'
}
.modal-header {
    background-color: #008080
}
.modal-header h3 {
    font-family: 'Quicksand'
}
.btn-outline-light:hover {
    color: #555 !important
}
a.active {
    background-color: rgba(0,0,0,0.2) !important;
    
}
.navbar a {
    cursor: pointer !important;
    transition: .1s ease-out
}
.navbar:hover {
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
.ferrybtn, .navbtn {
    font-size: 2rem;
    cursor: pointer;
    transition: .3s ease-out;
    padding: 1rem;
}
.ferrybtn {
    color: #666
}
.ferrybtn:hover {
    color: #000
}
.text {
    font-family: 'Quicksand';
    font-size: 1rem;
    color: rgba(255,255,255,0.8)
}
.navbtn:hover {
    color: #999
}
.navbar-brand {
    width: 5%;
}
.hide {
    display: none
}
#home {
    background-color: #72A1A6
}
#jour {
    background-color: #618C70
}
#sub {
    background-color: #558286
}
#about {
    background-color: #739F5E
}
#con {
    background-color: #7DA66A
}
#events ul {
    font-family: 'Open Sans'
}
#events .col-md-12 {
    padding: 2rem;
}
.close {
    margin-left: 0 !important
}
#timer, .date {
    font-family: 'Comfortaa';
    letter-spacing: 2px;
    padding: 2rem;
    font-size: 2rem;
    transition: .4s ease-out
}
.banner {
    background-color: rgba(0,0,0,0);
    height: 3rem;
}
.team .col-lg-4 {
    padding: 2rem
}
.team .col-lg-4, .team .col-lg-3 {
	transition: .4s ease-out;
	cursor: default;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.team img {
    transition: .4s ease-out
}
.team h1 {
    font-size: 2rem
}
.team h2 {
    font-size: 1.5rem
}
.imgcontainer {
    position: relative;
    width: 80%;
    border-radius: 100%;
    cursor: pointer;
    margin: 0 auto;
    overflow: hidden
}
.imgoverlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
    border-radius: 100%
}
.imgcontainer:hover img {
    transform: scale(1.2)
}
.imgtext {
    white-space: nowrap; 
    color: #fff;
    font-size: 1rem;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Quicksand'
}
a.text-white-50 {
    text-decoration: underline
}
#con .d-flex a {
    transition: .3s ease-out;
    font-size: 3rem
}
#con .d-flex a:nth-of-type(1):hover {
    color: #4267b2 !important;
}
#con .d-flex a:nth-of-type(2):hover {
    color: #fd5949 !important;
}
#con .d-flex a:nth-of-type(3):hover {
    color: #000 !important
}
.team h1.ml-auto.mr-auto {
    border-bottom: 1px solid rgba(255,255,255,.85);
    width: max-content;
    padding-bottom: 1rem
}
#con hr {
    width: 40%
}
#sub form {
    padding: 2rem
}
#sub form fieldset {
    border: 1px solid #ddd;
    padding: 2rem

}

/*loader*/
.lds-ellipsis {
    position: relative;
}
.lds-ellipsis > div {
    position: absolute;
    width: 100%;
    height: 100%;
}
.lds-ellipsis div > div {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    position: absolute;
    -webkit-animation: lds-ellipsis 1.6s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
    animation: lds-ellipsis 1.6s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
}
.lds-ellipsis div:nth-child(2) div {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    background: #72A1A6;
}
.lds-ellipsis div:nth-child(3) div {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
    background: #618C70;
}
.lds-ellipsis div:nth-child(4) div {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    background: #739F5E;
}
.lds-ellipsis div:nth-child(5) div {
    -webkit-animation: lds-ellipsis3 1.6s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
    animation: lds-ellipsis3 1.6s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
    background: #7DA66A;
}

@-webkit-keyframes lds-ellipsis3 {0%, 25% {left: 32px;-webkit-transform: scale(0);transform: scale(0);}50% {left: 32px;-webkit-transform: scale(1);transform: scale(1);}75% {left: 100px;}100% {left: 168px;-webkit-transform: scale(1);transform: scale(1);}}
@keyframes lds-ellipsis3 {0%, 25% {left: 32px;-webkit-transform: scale(0);transform: scale(0);}50% {left: 32px;-webkit-transform: scale(1);transform: scale(1);}75% {left: 100px;}100% {left: 168px;-webkit-transform: scale(1);transform: scale(1);}}
@-webkit-keyframes lds-ellipsis2 {0% {-webkit-transform: scale(1);transform: scale(1);}25%, 100% {-webkit-transform: scale(0);transform: scale(0);}}
@keyframes lds-ellipsis2 {0% {-webkit-transform: scale(1);transform: scale(1);}25%, 100% {-webkit-transform: scale(0);transform: scale(0);}}
@-webkit-keyframes lds-ellipsis {0% {left: 32px;-webkit-transform: scale(0);transform: scale(0);}25% {left: 32px;-webkit-transform: scale(1);transform: scale(1);}50% {left: 100px;}75% {left: 168px;-webkit-transform: scale(1);transform: scale(1);}100% {left: 168px;-webkit-transform: scale(0);transform: scale(0);}}
@keyframes lds-ellipsis {0% {left: 32px;-webkit-transform: scale(0);transform: scale(0);}25% {left: 32px;-webkit-transform: scale(1);transform: scale(1);}50% {left: 100px;}75% {left: 168px;-webkit-transform: scale(1);transform: scale(1);}100%{left: 168px;-webkit-transform: scale(0);transform: scale(0);}}
@keyframes overlay{0%{top: 100%;}80%{top: 30%}100%{top: 0%}}
@-webkit-keyframes overlay{0%{top: 100%;}80%{top: 30%}100%{top: 0%}}
@media screen and (max-width: 915px) {
    
}
/* Color Theme Swatches in Hex */
.lblue { color: #72A1A6; }
.ulolive { color: #618C70; }
.lolive { color: #739F5E; }
.vlolive { color: #7DA66A; }

/* Color Theme Swatches in RGBA */
.favicon-1-rgba { color: rgba(114, 161, 166, 1); }
.favicon-2-rgba { color: rgba(97, 140, 112, 1); }
.favicon-3-rgba { color: rgba(115, 159, 94, 1); }
.favicon-4-rgba { color: rgba(125, 166, 106, 1); }