body {
	background-color:#000;
	font-family:verdana;
	margin:0px;
}

.navbar {
	color:#000001;
	height:60px;
	width:100%;
	position:fixed;
	background-color:#000002;
	z-index:2;
	padding:5px;
    animation: .6s downwards;
    -webkit-animation: .6s downwards;
}

.nav {
	list-style:none;
	float:right;
	margin-right:100px;
}

.nav li {
	margin-right:30px;
	float:left;
}

.nav li a {
	color:#fff;
	font-size:14px;
	font-family:sans-serif;
	padding:10px;
}

.nav li a:hover {
	color:lightblue;
}

.div1 {
	padding:150px;
	color:#fff;
	text-align:center;
}

a {
	text-decoration:none;
	color:#fff;
    transition: .2s ease-out
}
.button1 {
	color:#fff;
	font-size:20px;
	border:5px solid darkcyan;
	color:#fff;
	margin-top:40px;
	padding:15px;
	width:200px;
    transition: background-color .3s ease-out;
    animation: .6s downwards;
    -webkit-animation: .6s downwards;
    position: relative
}


.div2 {
	padding:50px;
	padding-top:5px;
	height:500px;
	background-color:#fff;
	color:#000;
	text-align:center;
}


.button1:hover {
	background-color:#008080;
	cursor:pointer;
}

.footer {
	height:60px;
	background-color:#000;
	margin:0px;
	margin-bottom:-600px;
	position:absolute;
	bottom:0px;
	width:100%;
	color:#fff;
	text-align:center;
}
.zoomani {
    animation: 1s zoom;
    -webkit-animation: 1s zoom;
}
.navitems {
    cursor: pointer
}
.downani {
    animation: .5s zoom;
    -webkit-animation: .5s zoom;
}
.outter {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    z-index: 50;
    display: none;
    padding-top: 80px;
    left: 0;
    top: 0
}
.inner {
    background-color: #fff;
    width: 50%;
    height: auto;
    padding: 0px;
    margin: auto;
    position: relative;
    outline: none;
    animation: .7s downwards;
    -webkit-animation: .7s downwards;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.9);
    max-width: 50%;
}
.innerhead {
    width: auto;
    height: auto;
    padding: 20px;
    font-family: Helvetica Neue, sans-serif, Verdana;
    font-size: 30px;
    background-color: #008080;
    color: #fff
}
.innercon {
    padding: 20px;
    font-size: 22px;
    color: #000
}
.closebtn {
    float: right;
    padding: 4px 10px;
    cursor: pointer
}
.right {
    float: right
}
input {
    outline: none
}
.inputs {
    transition: .4s ease-out
}
.inputs:focus {
    border-color: #000 !important
}

@keyframes zoom {from{opacity: 0;transform: scale(0)}to{opacity: 1;transform: scale(1)}}
@-webkit-keyframes zoom {from{opacity: 0;transform: scale(0)}to{opacity: 1;transform: scale(1)}}
@keyframes downwards {from{opacity: 0;top: -300px}to{opacity: 1;top: 0px}}
@-webkit-keyframes downwards {from{opacity: 0;top: -300px}to{opacity: 1;top: 0px}}
@keyframes fromleft {from{opacity: 0;left: -400px}to{opacity: 1; left: 0px}}
@-webkit-keyframes fromleft {from{opacity: 0;left: -400px}to{opacity: 1; left: 0px}}