<!DOCTYPE html>
<html>
    <head>
    <title>Sidenav Example</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    </head>
<body>

<nav class="w3-sidenav w3-white w3-card-2 w3-animate-left" style="display:none" id="leftMenu">
  <a href="javascript:void(0)" onclick="closeLeftMenu()"
  class="w3-closenav w3-large">Close &times;</a>
  <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
  <a href="#">Link 4</a>
  <a href="#">Link 5</a>
</nav>

<nav class="w3-sidenav w3-white w3-card-2 w3-animate-right" style="display:none;right:0;" id="rightMenu">
  <a href="javascript:void(0)" onclick="closeRightMenu()"
  class="w3-closenav w3-large">Close &times;</a>
  <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
  <a href="#">Link 4</a>
  <a href="#">Link 5</a>
</nav>

<header class="w3-container w3-teal">
  <span class="w3-opennav w3-xlarge" onclick="openLeftMenu()">&#9776;</span>
  <span class="w3-opennav w3-xlarge w3-right" onclick="openRightMenu()">&#9776;</span>
  <h1>My Header</h1>
</header>

<div class="w3-container">
  <p>In this example, we demonstrate how to use two side navigations. We have created two "menu" buttons: one to open the sidenav from the left and one to open it from the right.</p>
</div>

<footer class="w3-container w3-teal">
  <h5>Footer</h5>
  <p>Footer information goes here</p>
</footer>
     
<script>
function openLeftMenu() {
    document.getElementById("leftMenu").style.display = "block";
}
function closeLeftMenu() {
    document.getElementById("leftMenu").style.display = "none";
}

function openRightMenu() {
    document.getElementById("rightMenu").style.display = "block";
}
function closeRightMenu() {
    document.getElementById("rightMenu").style.display = "none";
}
</script>
     
</body>
</html>


