body {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Verdana;
}
input, button, textarea, form {
    outline: none;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000
}
a, a:visited {
    text-decoration: none;
    color: #006699
}
iframe {
    border: 0;
}