<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://YuvrajSharma07.github.io/Web_Development_Folder/templates/standardstyle.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <iframe src="circle.html"></iframe>
        <iframe src="ellipsis.html"></iframe>
        <iframe src="default.html"></iframe>
        <iframe src="dual-ring.html"></iframe>
        <iframe src="facebook.html"></iframe>
        <iframe src="grid.html"></iframe>
        <iframe src="heart.html"></iframe>
        <iframe src="hourglass.html"></iframe>
        <iframe src="microsoft.html"></iframe>
        <iframe src="ring.html"></iframe>
        <iframe src="ripple.html"></iframe>
        <iframe src="spinner.html"></iframe>
    </body>
</html>