#cross{
    text-align: center;
	width:30px;
	height:30px;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border: 1px solid #fff;
}
input, button {
    outline: none !important;
    font-family: 'Montserrat'
}
tr{
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
td{
	height: 2rem;
	width: 2rem;
    background-color: rgba(0,0,0,0) !important
}
.butt{
	height:50px;
	width: 107px;
}
#puzzle{
	text-align: center;
	margin: 0;
    padding: 0
}
.inputBox{
    width: 2.6rem;
    height: 2.6rem;
    text-align: center;
}
#hintsTable{
	width: 480px;
}
.banner {
	width: 100%;
	height: 5rem
}
.col-md-6 h1 {
    font-family: 'Quicksand' !important
}
.col-md-6 ul, .timer {
    font-family: 'Montserrat'
}
.timer {
    background-color: rgba(0,0,0,0);
    border: 0;
    color: #fff;
    text-align: center
}