html {
	font-size: 10px
}
body {
    margin: 0;
    padding: 0;
	/* overflow: hidden; */
	font-family: 'Open Sans'
}
input, button, textarea, form {
    outline: none;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000
}
a {
    text-decoration: none
}
.intro {
	height: 60vh;
	width: 100%;
	background-color: #222;
	padding-top: 40vh;
	text-align: center;
	transition: .2s ease-out
}
.logo {
	font-family: 'Product Sans';
	font-size: 7rem;
	animation: 5s typing;
	margin: 0 auto;
	overflow: hidden;
    white-space: nowrap;
	font-weight: 500
}
.lred {
	color: #EA4335;
	transition: .4s ease-out;
}
.lgreen {
	color: #34A853;
	transition: .4s ease-out;
}
.lblue {
	color: #4285F4;
	transition: .4s ease-out;
}
.lyellow {
	color: #FBBC05;
	transition: .4s ease-out;
}
.lwhite {
	color: #fff !important
}
.lfade {
	animation: 2s fadeup
}
.hide {
	display: none
}
.mainbod {
	height: 100vh;
	width: 100%
}
.nav {
	
}
.nav li {
	display: inline-block
}

@keyframes typing {from{width: 0}to{width: 100%}}
@-webkit-keyframes typing {from{width: 0}to{width: 100%}}
@keyframes fadeup {from{opacity: 1;margin-top: 0px}to{opacity: 0;margin-top: -90px}}
@-webkit-keyframes fadeup {from{opacity: 1;margin-top: 0px}to{opacity: 0;margin-top: -90px}}